<!--
<div style="position:relative;top:80px;max-width:1100px;">
	<div ng-repeat="basemap in basemaps" style="display:inline-block;width:200px;height:200px;">
		<p>{{basemap | uppercase}}</p>
		<esri-map id="{{basemap}}_map" class="basemap-comparison-map" center="map.center" zoom="map.zoom" basemap="{{basemap}}" slider="false" style="display:inline-block;width:200px;height:200px;"></esri-map>
	</div> 
</div>
 -->
<md-grid-list
	md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5"
	md-row-height-gt-md="1:1" md-row-height="2:2"
	md-gutter="120px" md-gutter-gt-sm="8px"
	style="position:relative;top:90px;" >
	<p>Tristan da Cunha, Atlantic Ocean</p>
	<md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-repeat="basemap in basemaps" >
		<!-- <esri-map id="{{basemap}}_map" class="basemap-comparison-map" center="map.center" zoom="map.zoom" basemap="{{basemap}}" slider="false"></esri-map> -->
		<esri-simple-map id="{{basemap}}_map" class="basemap-comparison-map" center="map.center" zoom="map.zoom" basemap="{{basemap}}"></esri-simple-map>
		<md-grid-tile-footer>
			<h3>{{basemap | uppercase}}</h3>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>
